<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4">
                        <h3>IKOMI PERU</h3>
                        <p>Empresa importadora y comercializadora de repuestos para todo tipo de vehículos con calidad y
                            a precios de mercado.</p>
                        <div class="social-icons">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-skype"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="contact-box">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <h4>Dirección</h4>
                                    <p>Avenida Nicolás Ayllón 3384<br>Carretera Central - Paradero Rayovac<br>Lima - Ate
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="contact-box">
                                    <i class="fas fa-envelope"></i>
                                    <h4>Correo</h4>
                                    <p>
                                        <a href="mailto:ventas&#64;ikomiperu.com">ventas&#64;ikomiperu.com</a><br>
                                        <a href="mailto:ventas&#64;ikomiperu.com">ventas&#64;ikomiperu.com</a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="contact-box">
                                    <i class="fas fa-phone"></i>
                                    <h4>Teléfonos</h4>
                                    <p>985 068 416<br>981 453 306</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 links-section">
                <h4>Links</h4>
                <ul>
                    <li><a href="#index">Inicio</a></li>
                    <li><a href="#nosotros">Nosotros</a></li>
                    <li><a href="#servicios">Servicios</a></li>
                    <li><a href="#producto">Producto</a></li>
                    <li><a href="#marcas">Marcas</a></li>
                    <li><a href="#contactanos">Contáctenos</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>