<div class="hero-image">
  <div class="overlay"></div>
  <div class="hero-text">
    <h1>Repuestos en General para Camiones de Todas las Marcas</h1>
    <p>Somos una empresa importadora de repuestos.</p>
  </div>
</div>

<div class="carousel-container">
  <div id="logoCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex justify-content-around align-items-center">
          <img src="../../assets/img/clients/client-1.png" alt="Kia">
          <img src="../../assets/img/clients/client-2.png" alt="Nissan">
          <img src="../../assets/img/clients/client-3.png" alt="Hino">
          <img src="../../assets/img/clients/client-4.png" alt="Hyundai">
          <img src="../../assets/img/clients/client-5.png" alt="Isuzu">
          <img src="../../assets/img/clients/client-6.png" alt="Mitsubishi">
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-around align-items-center">
          <img src="../../assets/img/clients/client-2.png" alt="Nissan">
          <img src="../../assets/img/clients/client-3.png" alt="Hino">
          <img src="../../assets/img/clients/client-4.png" alt="Hyundai">
          <img src="../../assets/img/clients/client-5.png" alt="Isuzu">
          <img src="../../assets/img/clients/client-6.png" alt="Mitsubishi">
          <img src="../../assets/img/clients/client-7.png" alt="Nissan">
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-around align-items-center">
          <img src="../../assets/img/clients/client-3.png" alt="Hino">
          <img src="../../assets/img/clients/client-4.png" alt="Hyundai">
          <img src="../../assets/img/clients/client-5.png" alt="Isuzu">
          <img src="../../assets/img/clients/client-6.png" alt="Mitsubishi">
          <img src="../../assets/img/clients/client-7.png" alt="Nissan">
          <img src="../../assets/img/clients/client-8.png" alt="Hyundai">
        </div>
      </div>
    </div>
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#logoCarousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#logoCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#logoCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
  </div>
</div>